
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        opacity: 0.7;
        text-decoration: none;
        color: unset;
    }
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p,
span,
ul,
li,
a,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
